@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.box-container{
    padding: 120px 80px 120px 80px;
    height: 100%;
    background: #e3f2fd;

}
